{
  "FRONTLINE_CLIENT_ID": "<client-uuid>",
  "AUTH_BASE_URL": "https://pidsauth.floatpoint.dev",
  "FRONTLINE_PRIVATE_KEY": "-----BEGIN EC PRIVATE KEY-----\n<base64-key-here>\n-----END EC PRIVATE KEY-----"
}
